NODE_ENV=

# mysql database. used for user management
MYSQL_DB_HOST=
MYSQL_DB_PORT=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=
MYSQL_DB_DATABASE=
# Set the time zone of the database, the default time zone is utc
MYSQL_DB_TZ=
# Set debugging for the database
MYSQL_DB_DEBUG=


JWT_KEY=
JWT_ALG=
JWT_DURATION=

# redis database
REDIS_PORT=
REDIS_HOST=

# mongo database. used for system logging
LOG_DATABASE_URI=
LOG_DATABASE_DEBUG=
LOG_DEBUG=
